<!DOCTYPE html>
<html>
    <head>
        <title> Conway's Game of Life </title>
        <link rel="stylesheet" type="text/css" href="/static/GOL.css">
        <link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/GOL.js"></script>
    </head>
    <body>
        <div id="title"><a href ='http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life'>Conway's Game of Life</a></div>
        <canvas id="GameOfLife" width="900" height="480"></canvas>
        <div id= 'pre' > generation:</div>
        <div id = 'age'>&nbsp;0</div>
        <p></p>
        <button class = 'control' id = 'reset' type = 'button'></button>
        <button class = 'control' id = 'start' type = 'button'></button>
        <button class = 'control' id = 'pause' type = 'button'></button>
        <button class = 'control' id = 'next' type = 'button'></button>
        <button class = 'control' id = 'clear' type = 'button'></button>
        <a id='export' href = '.'><img src = '/static/siteImage/doc_export.png'/></a>
    </body>
</html>