<!DOCTYPE html>
<html>

<head>
    <title>The Castle and the Princess</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}puzzle1Style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
</head>

<body>

<div id="topLeft">
    <div id="home"></div>
    <div id="contact"></div>
</div>

<div id="panel"></div>

<div id="rules">
    <p>
    On the top floor of a castle lives a princess. The floor has <span style = 'color : #f77171'>5</span> bedrooms arranged in a row. Each bedroom has doors connecting to the adjoining bedrooms as well as to the outside corridor. The princess sleeps in a different bedroom each night by opening the door to an adjoining bedroom and spending the night and the next day in that room.
    <br>
    <br>
    One day a prince arrives at the castle and is desirous of marrying the princess. The guardian angel at the castle tells him of the princess' sleeping patterns and informs him that each morning he may knock on one of the outside doors. If the princess happens to be behind that door, she will open it and consent to marry him. The prince also has a return ticket to his kingdom in <span style = 'color : #f77171'>6</span> days, so he can make at most <span style = 'color: #f77171'>6</span> attempts. Can the prince win the hand of the princess, and if so, what is his strategy?
    </p>
</div>

<div id="princessProblem">

<div>
    <p id="greeting">
        You found a puzzle.<br>
        Here are the <span id="rulesLink">rules</span>.
    </p>
</div>

<div id="father">
   <div id="son1" class='son'></div>
   <div id="son2" class='son'></div>
   <div id="son3" class='son'></div>
   <div id="son4" class='son'></div>
   <div id="son5" class='son'></div>
</div>

</div>

<audio>
	<source src="{{ STATIC_URL }}audioFiles/rules.ogg">
	<source src="{{ STATIC_URL }}audioFiles/rules.mp3">
    Your browser does not support the audio tag.
</audio>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}puzzle1Script.js"></script>

</body>


</html>